[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
ipywidgets = "*"

[packages]
requests = "*"
scrapy = "*"
pandas = "*"
sip = "*"
python-dotenv = "*"
tqdm = "*"
rich = "*"
ipywidgets = "*"
pymongo = "*"

[requires]
python_version = "3.9"
